<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <!--
    <form onsubmit="return search_function(event)">
      <label for="dong">동 선택</label>
      <select name="dong" id="dong">
          <option value=any>Any</option>
        <%for(var i=0; i<dong_list.length; i++){%>
          <option value="<%=dong_list[i]['dong']%>" <% if(dong_value==dong_list[i]['dong']){ %>selected<% } %> ><%=dong_list[i]['dong']%></option>
        <%} %>
      </select>
      <label for="id">아파트 이름</label>
      <input type="text" id="name" name="searchName" value="<%=search_value%>">
      <button type="submit" id="search">검색</button>
    </form>
    <div>
      <table>
        <thaed>
          <tr>
            <th>순번</th>
            <th>이름</th>
            <th>동</th>
            <th>길</th>
          </tr>
        </thaed>
        <tbody>
          <% var page = 0;
          if(typeof arr !=='undefined'){
          for(var i=0; i<arr.length; i++){ %>
            <tr>
              <td><%=i+1%></td>
              <td><a href="/search/<%=arr[i]['name']+'?'+arr[i]['size']%>"><%=arr[i]['name']%></a></td>
              <td><%=arr[i]['dong']%></td>
              <td><%=arr[i]['street_adress']%></td>
           </tr>
          <% } }%>
        </tbody>
      </table>
    </div>
    <div role="navigation">
      <table style="border-collapse: collapse;">
        <tbody>
          <% for(var i=1; i<=total_page; i++) {%>
          <td><a href="/search/<%=dong_value%>/<%=search_value%>/<%=i%>"><%=i%></a></td>
          <%}%>
        </tbody>
      </table>
    </div>
    -->
    <div id="apt_price_list_app">
      <div class="sk-form">
        <form onsubmit="return search_function(event)">
          <label for="dong">동 선택</label>
          <select v-model="dong_value" id="dong">
            <option value="any">Any</option>
            <option v-for="item in d_l" v-bind:value="item.dong">{{item.dong}}</option>
          </select>
          <label for="id">아파트 이름</label>
          <input type="text" id="name" name="searchName" value="<%=search_value%>">
          <button type="submit" id="search">검색</button>
        </form>
      </div>
      <table>
        <thaed>
          <tr>
            <th>순번</th>
            <th>이름</th>
            <th>동</th>
            <th>길</th>
          </tr>
        </thaed>
        <tbody>
            <tr v-for="(item, index) in list">
              <td>{{index+1}}</td>
              <td><a v-bind:href="'/search/'+item.dong+'/'+item.name+'/more'">{{item.name}}</a></td>
              <td>{{item.dong}}</td>
              <td>{{item.street_adress}}</td>
           </tr>
        </tbody>
      </table>
      <table style="border-collapse: collapse;">
        <tbody>
          <td v-for="i in total_page"><a v-bind:href="'/search/'+ dong_value + '/' + search_value + '/' + i">{{i}}</a></td>
        </tbody>
      </table>
    </div>
    <script>
      var dong_list = <%-JSON.stringify(dong_list) %>;
      var prices = <%-JSON.stringify(arr) %>;
      var total_page = <%=total_page%>;
      var dong_value = "<%=dong_value%>";
      var search_value = "<%=search_value%>";
    </script>
    <script src ='/vue/vue.min.js'></script>
    <script src ='/javascripts/common.vue.js'></script>
    <script>
      //form에서 submit 이벤트가 실행이 되면 기본적으로 form 안에 있는 field들의 name:value형식으로 값을 보냄. 이게 기본 기능
      //근데 여기서는 이런 방식이 아닌 주소를 /search/검색어 형식으로 변경하는 방법을 사용하기로함.
      function search_function(e){
        e.preventDefault(); //form에서의 기본 event를 실행하지않도록함.
        location.href="/search/"+document.getElementById("dong").value+"/"+document.getElementById("name").value; //현재 주소를 바꿈.
      }

      function showChart() {
        document.getElementById('chart').style.display='block';
        page = page+1;
      }
    </script>
  </body>
</html>
